<div class="user-profile">
  <div class="icon">
    <%= gravatar_for user, size: 100 %>
  </div>
  <div class="name">
    <h1><%= user.name %><h1>
  </div>
  <div class="status">
    <ul>
      <%= render 'status', title: 'FOLLOWING', count: @following_users_count %>
      <%= render 'status', title: 'FOLLOWERS', count: @follower_users_count %>
      <%= render 'status', title: 'WANT', count: @wnat_users_count %>
      <%= render 'status', title: 'HAVE', count: @have_users_count %>
    </ul>
    <%= render 'follow_form' if logged_in? && @user != current_user %>
  </div>
</div>